@charset "utf-8"

$primary: #3c989e
$secondary: #ed5277
$link: darken($secondary, 25%)
$link-hover: $secondary

@import "bulma.sass"
@import "pace.scss"

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway:400,400i,700,700i&subset=latin-ext')

.is-bg
    background-image: url(lined_paper.png)
    background-repeat: repeat

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
    .is-bg
        background: url('lined_paper_@2X.png') no-repeat top left
        background-size: 300px 224px

body
    font-family: 'Raleway', sans-serif

h1, h2, h3, h4, h5, h6
    font-family: 'Indie Flower', cursive