@charset "utf-8"

// TODO: figure out a visual design!
$primary: #3c989e
$secondary: #ed5277
$link: darken($secondary, 25%)
$link-hover: $secondary

@import "pace.scss"

// TODO: remove parts of bulma which aren't needed
@import "../lib/bulma/sass/utilities/initial-variables.sass"
@import "../lib/bulma/sass/utilities/functions.sass"
@import "../lib/bulma/sass/utilities/derived-variables.sass"
@import "../lib/bulma/sass/utilities/animations.sass"
@import "../lib/bulma/sass/utilities/mixins.sass"
@import "../lib/bulma/sass/utilities/controls.sass"

@import "../lib/bulma/sass/base/minireset.sass"
@import "../lib/bulma/sass/base/generic.sass"
@import "../lib/bulma/sass/base/helpers.sass"

@import "../lib/bulma/sass/elements/box.sass"
@import "../lib/bulma/sass/elements/button.sass"
@import "../lib/bulma/sass/elements/container.sass"
@import "../lib/bulma/sass/elements/content.sass"
@import "../lib/bulma/sass/elements/form.sass"
@import "../lib/bulma/sass/elements/icon.sass"
@import "../lib/bulma/sass/elements/image.sass"
@import "../lib/bulma/sass/elements/notification.sass"
@import "../lib/bulma/sass/elements/progress.sass"
@import "../lib/bulma/sass/elements/table.sass"
@import "../lib/bulma/sass/elements/tag.sass"
@import "../lib/bulma/sass/elements/title.sass"
@import "../lib/bulma/sass/elements/other.sass"

@import "../lib/bulma/sass/components/breadcrumb.sass"
@import "../lib/bulma/sass/components/card.sass"
@import "../lib/bulma/sass/components/dropdown.sass"
@import "../lib/bulma/sass/components/level.sass"
@import "../lib/bulma/sass/components/media.sass"
@import "../lib/bulma/sass/components/menu.sass"
@import "../lib/bulma/sass/components/message.sass"
@import "../lib/bulma/sass/components/modal.sass"
@import "../lib/bulma/sass/components/navbar.sass"
@import "../lib/bulma/sass/components/pagination.sass"
@import "../lib/bulma/sass/components/panel.sass"
@import "../lib/bulma/sass/components/tabs.sass"

@import "../lib/bulma/sass/grid/columns.sass"
@import "../lib/bulma/sass/grid/tiles.sass"

@import "../lib/bulma/sass/layout/hero.sass"
@import "../lib/bulma/sass/layout/section.sass"
@import "../lib/bulma/sass/layout/footer.sass"
